// colors
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-title: #2c2c2c;
$color-text: #6e6c6c;
$color-light-gray: #e1e1e1;

$color-yellow: #f0ae12;

// content width for devices
$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;