%transition {
   transition: all .3s ease-out;
}

%font-primary {
   font-family: "Roboto", "Helvetica", sans-serif;
}

%font-secondary {
   font-family: "Arial", "Helvetica", sans-serif;
}

// %background_dark {
//    background: url("../assets/images/noise_transparent@2x.png"),
//       radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
// }

// %background_light {
//    background-color: $color-light-xl;
// }