.aside {
   width: 30%;

   color: white;
   padding-top: 4rem;

   background-color: $color-title;
}

.contacts__title,
.education__title {
   color: $color-title;
}

.contacts__list,
.education__list {
   margin-left: 3rem;
}

.contacts__item {
   margin-bottom: 1rem;
   margin-right: 1rem;
}

.contacts__item a {
   color: $color-light-gray;

   &:hover {
      @extend %transition;
      text-decoration: underline;
   }
}

.contacts__name {
   padding-right: 0.5rem;
}

.education__years {
   color: $color-title;
   background-color: $color-light-gray;

   border-radius: 0.4rem;

   padding: 0.3rem;
}

.education__text {
   margin-top: 0.5rem;
   margin-right: 1rem;
}