.column-main {
   width: 60%;
}

.about-me__text,
.skills__list,
.code-example__pre,
.code-example__text,
.english__text,
.hobbies__list,
.projects__list {
   margin: 3rem;
}

.skills__list,
.hobbies__list {
   list-style: disc;

   margin-left: 5rem;
}

.code-example__pre {
   font-family: monospace;
   font-size: 1.2rem;
}

.projects__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 2rem;
}

.projects__item {
   display: flex;
   flex-direction: column;

   border: 1px solid $color-light-gray;

   margin-bottom: 3rem;

   &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   }
}

.projects__image {
   width: 307px;
   height: 160px;
}

.projects__title {
   padding: 10px;
}

.projects__item>a {
   color: $color-title;

   &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   }
}