.column-main {
   width: 60%;
}

.about-me__text,
.skills__list,
.code-example__pre,
.code-example__text,
.english__text,
.hobbies__list,
.projects__list {
   margin: 3rem;
}

.skills__list,
.hobbies__list {
   list-style: disc;

   margin-left: 5rem;
}

.code-example__pre {
   font-family: monospace;
   font-size: 1.2rem;
}

.projects__list {
   display: flex;
   justify-content: space-between;
}

.projects__item {
   border: 5px soli $color-light-gray;
   background-color: black;

   // &:hover {
   //    box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
   // }
}

.projects__image {
   width: 300px;
   height: 170px;
}


// .about1 {
//    padding: 80px 0 100px 0;

//    @include media-2mobilesmall {
//       padding: 42.23px 0 42.4px 0;
//    }
// }

// .about1__wrapper {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    flex-wrap: wrap; // delete margin for image
//    gap: 120px;

//    @include media-1tablet {
//       flex-direction: column-reverse;
//       gap: 0;
//       // text-align: center;

//    }
// }

// .about1__image {
//    max-height: 408px;

//    // margin-right: 120px;

//    @include media-1tablet {
//       // margin-right: 0;
//    }

//    @include media-2mobilesmall {
//       width: 260px;
//       height: 353.6px;
//    }
// }

// .about1__description {
//    max-width: 430px;
// }

// .about1__title {
//    // max-width: 370px;
//    @include font ($size: 3.5rem, $height: 4.5rem);

//    margin-bottom: 25px;

//    @include media-2mobilesmall {
//       @include font ($size: 2.5rem, $height: 3.2rem);
//       text-align: center;
//    }
// }

// .about1__text,
// .about1__text2 {
//    @include font ($size: 1.5rem, $spacing: 0);

//    margin: 0;

//    @include media-2mobilesmall {
//       text-align: justify;

//       padding-left: 15px;
//       padding-right: 15px;
//    }
// }

// .about1__text {
//    margin-bottom: 25px;
// }

// .about1__text2 {
//    @include media-1tablet {
//       margin-bottom: 80px;
//    }

//    @include media-2mobilesmall {
//       margin-bottom: 42px;
//    }
// }

// .about1__text {
//    @include media-2mobilesmall {
//       margin-bottom: 22px;
//    }
// }