.header-nav {
   width: 100%;

   margin-bottom: 0;

   background-color: $color-light-gray;
}

.navigation {
   display: flex;
   justify-content: center;

   flex-wrap: wrap;
   column-gap: 3.5rem;
}

.navigation__link {
   display: block;


   @extend %font-secondary;
   @include font($size: 1.6rem, $height: 1.7rem);
   color: $color-title;

   padding: 2rem 1rem;

   &:hover {
      @extend %transition;
      color: $color-yellow;
   }
}

// .header-navigation {
//    margin-left: auto;

//    @include media-4mob-menu {
//       position: fixed;
//       top: 0%;
//       right: -320px;

//       width: 320px;
//       height: 100vh;

//       overflow: auto;

//       background-color: $color-dark-3xl;
//       // background: inherit;

//       transition: 0.5s linear;

//       padding: 30px 10px 0 10px;

//       &.light {
//          background-color: white;
//       }

//       &.active {
//          top: 0%;
//          right: 0px;

//          transition: 0.5s linear;

//          box-shadow: -320px 0 rgba(41, 41, 41, 0.6);
//       }
//    }
// }

// .header-navigation1 .logo1 {
//    display: none;

//    @include media-4mob-menu {
//       position: absolute;

//       &.active {
//          display: flex;
//          align-items: flex-start;
//       }
//    }
// }

// .navigation1 {
//    display: flex;
//    flex-wrap: wrap;
//    column-gap: 35px;
//    @include font($size:1.5rem, $spacing: 0.002em);

//    @include media-4mob-menu {
//       &.active {
//          flex-direction: column;
//          align-items: center;
//          row-gap: 43px;

//          // @extend %font-secondary;
//          @include font($size: 3.2rem, $height: 5.1rem);

//          margin-top: 158px;
//       }
//    }
// }

// .navigation1__link {
//    color: $color-dark-s;

//    // @include font($size:1.5rem, $spacing: 0.002em);
//    @extend %transition;

//    &::after {
//       display: block;
//       content: "";
//       height: 3px;
//    }
// }

// .navigation1__item:hover .navigation1__link {
//    color: $color-light-s;

//    &::after {
//       display: block;
//       content: "";
//       height: 3px;
//       background-color: #F1CDB3;
//    }
// }

// .navigation1__item:first-child .navigation1__link {
//    color: $color-light-s;

//    &::after {
//       display: block;
//       content: "";
//       height: 3px;
//       background-color: #F1CDB3;
//    }
// }


// // light

// .navigation1__link.light {
//    color: $color-dark-l;
//    // background-color: inherit;
// }

// .navigation1__item.light:hover .navigation1__link {
//    color: $color-dark-3xl;
// }

// // for page pet - delete focus on first item
// .navigation1__item.light:first-child .navigation1__link {
//    color: $color-dark-l;

//    &::after {
//       display: block;
//       content: "";
//       height: 3px;
//       background-color: white;
//    }
// }

// .navigation1__item.light:nth-child(2) .navigation1__link {
//    color: $color-dark-3xl;

//    &::after {
//       display: block;
//       content: "";
//       height: 3px;
//       background-color: #F1CDB3;
//    }
// }