.header-nav {
   width: 100%;

   margin-bottom: 0;

   background-color: $color-light-gray;
}

.navigation {
   display: flex;
   justify-content: center;

   flex-wrap: wrap;
   column-gap: 3.5rem;
}

.navigation__link {
   display: block;


   @extend %font-secondary;
   @include font($size: 1.6rem, $height: 1.7rem);
   color: $color-title;

   padding: 2rem 1rem;

   &:hover {
      @extend %transition;
      color: $color-yellow;
   }
}