.header {
   display: flex;
   flex-direction: column;
   align-items: center;

   width: 100%;
}

.header__pic-name {
   display: flex;
   align-items: center;
}

.header__image {
   width: 300px;
   margin-right: auto;
}

// .sticky {
//    position: sticky;

//    top: 0px;

//    background-color: white;

//    @include media-1tablet {
//       // top: -20px;
//    }

//    @include media-2mobilesmall {
//       // top: -25px;
//    }
// }